---
---
@import "fonts/all";
@import "{{ site.theme }}";


$base-font-family: gotham_light, Arial, Helvetica, sans-serif;
$bold-font-family: gothambold, Arial, Helvetica, sans-serif;
$thin-font-family: gothamthin, Arial, Helvetica, sans-serif;
$extra-light-font-family: gothamextra_light, Arial, Helvetica, sans-serif;

$base-font-size:   17px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

#arimaLogo {
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    z-index: 10;
}

#arimaSello {
    display: block;
    
}

#arimaLogoImage {
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    border: none;
    box-shadow: none;
}

#arimaSelloImage {
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    box-shadow: none;
    transform: translate(-50%,0%);
}

#project_title {
    margin-top: 16px;
}

#main_content_wrap {
    background: #ffffff;
}