---
---
@import "fonts/gotham";
@import "{{ site.theme }}";


body {
    font-family: gotham_light, Arial, Helvetica, sans-serif;
}

#arimaLogo {
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    z-index: 10;
}

#arimaSello {
    display: block;
    
}

#arimaLogoImage {
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    border: none;
    box-shadow: none;
}

#arimaSelloImage {
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    box-shadow: none;
    transform: translate(-50%,0%);
}

#project_title {
    margin-top: 16px;
}

#main_content_wrap {
    background: #ffffff;
}