---
---

@import "{{ site.theme }}";

#arimaLogo {
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    z-index: 10;
}

#arimaLogoImage {
    position: relative;
    margin: 0 auto;
    max-width: 150px;
}

#main_content_wrap {
    background: #ffffff;
}